---
---



@import "bootstrap";
// Variables
:root {
    --main-background: #C7E4D1;
    --content-background: rgba(224, 241, 230, 0.4);
    --shadow-color: #2F5036;
    --true-color: #0D880D;
    --accent-color: #176902;
    --text-color: rgb(0,0,0);
    --excited-color: rgba(217, 248, 166, 0.863);
}


.socialmedia {
    //padding: 50px;
    margin: 30px;
    margin-top: 90px;
    margin-bottom: 90px;
    width: 80px;
    height: 80px;
    background-color: var(--true-color);
    border-radius: 5px;
    box-shadow: 0px 0px 80px var(--shadow-color);
    animation-name: shadow-progress;
    animation-duration: 30s;

}


body {
    background-color: var(--main-background);
}

p {
    color: var(--text-color);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);

}
.cute-img {
    display: block;
    width: 100%;
    

}

div.post-img {
    width: 75%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    padding: 5px;
    box-shadow: 0px 0px 15px var(--shadow-color);
}

.content-block {
    padding: 10px;
    background-color: var(--content-background);
    box-shadow: 0px 0px 15px var(--content-background);
    border-radius: 5px;
    
}

a {
    color: var(--accent-color);
}

a.list-item {
    color: #FFFFFF;
    font-size: 130%;
   
    .list-group-item {
        background-color: var(--true-color);
        margin: 30px;
        animation-name: shadow-progress;
        animation-duration: 30s;
        box-shadow: 0px 0px 80px var(--shadow-color);
        border-color: var(--accent-color);
        
    }
}

.bottom-column
{
    position: absolute;
    bottom: 0;
    right: 0;
}

a.list-item:visited {
    color: #FFFFFF;
    font-size: 130%;

    .list-group-item {
        background-color: var(--true-color);
        
        box-shadow: 0px 0px 80px var(--shadow-color);
        border-color: var(--accent-color);
        
    }
}

a.list-item:hover, a.list-item:active {
    color: var(--excited-color);
    font-size: 130%;

    .list-group-item {
        background-color: var(--true-color);
        
        box-shadow: 0px 0px 80px var(--shadow-color);
        border-color: var(--accent-color);
        
    }
}


@keyframes shadow-progress {
    0%   {
        box-shadow: 0px 0px 0px var(--shadow-color);
    }
    33% {
        box-shadow: 0px 0px 25px var(--shadow-color);
    }
    66% {
        box-shadow: 0px 0px 50px var(--shadow-color);
    }
    100% {
        box-shadow: 0px 0px 80px var(--shadow-color);
    }
}



